* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.landing-container .landing-img {
  width: 100%;
  height: 100vh;
}
.landing-container .landing-img img {
  width: 100%;
  height: 100vh;
}
.landing-container .lading-log-reg {
  color: white;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 35%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.landing-container .lading-log-reg .landing-content {
  background: rgba(245, 255, 250, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 80%;
  height: 500px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.landing-container .lading-log-reg .landing-content h1 {
  color: black;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  cursor: not-allowed;
  font-family: Georgia serif;
}
.landing-container .lading-log-reg .landing-content button {
  border: none;
  background-color: rgba(145, 189, 200, 0.6);
  color: white;
  border-radius: 15px;
  width: 30%;
  height: 35px;
  cursor: pointer;
  color: black;
  font-family: Georgia serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.landing-container .lading-log-reg .landing-content button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  scale: 1.2;
  filter: drop-shadow(0 0rem 0.75rem black);
}
.landing-container .lading-log-reg .landing-content button:active {
  color: #91bdc8;
}
.landing-container .lading-log-reg .landing-content-login {
  background: rgba(245, 255, 250, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 80%;
  height: 500px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.landing-container .lading-log-reg .landing-content-login input {
  background-color: rgba(245, 255, 250, 0.6);
  border: none;
  width: 70%;
  height: 7%;
  border-radius: 5px;
  text-align: center;
  color: black;
  cursor: pointer;
}
.landing-container .lading-log-reg .landing-content-login ::-moz-placeholder {
  color: black;
}
.landing-container .lading-log-reg .landing-content-login ::placeholder {
  color: black;
}
.landing-container .lading-log-reg .landing-content-login h1 {
  color: black;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  cursor: not-allowed;
  font-family: Georgia serif;
}
.landing-container .lading-log-reg .landing-content-login button {
  border: none;
  background-color: rgba(145, 189, 200, 0.6);
  color: white;
  border-radius: 15px;
  width: 35%;
  height: 40px;
  cursor: pointer;
  color: black;
  font-family: Georgia serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.landing-container .lading-log-reg .landing-content-login button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  scale: 1.2;
  filter: drop-shadow(0 0rem 0.75rem black);
}
.landing-container .lading-log-reg .landing-content-login button:active {
  color: #91bdc8;
}
.landing-container .lading-log-reg .landing-content-register {
  background: rgba(245, 255, 250, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 80%;
  height: 800px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.landing-container .lading-log-reg .landing-content-register input {
  background-color: rgba(245, 255, 250, 0.6);
  border: none;
  width: 70%;
  height: 5%;
  border-radius: 5px;
  text-align: center;
  color: black;
  cursor: pointer;
}
.landing-container .lading-log-reg .landing-content-register ::-moz-placeholder {
  color: black;
}
.landing-container .lading-log-reg .landing-content-register ::placeholder {
  color: black;
}
.landing-container .lading-log-reg .landing-content-register h1 {
  color: black;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  cursor: not-allowed;
  font-family: Georgia serif;
}
.landing-container .lading-log-reg .landing-content-register button {
  border: none;
  background-color: rgba(145, 189, 200, 0.6);
  color: white;
  border-radius: 15px;
  width: 35%;
  height: 40px;
  cursor: pointer;
  color: black;
  font-family: Georgia serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.landing-container .lading-log-reg .landing-content-register button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  scale: 1.2;
  filter: drop-shadow(0 0rem 0.75rem black);
}
.landing-container .lading-log-reg .landing-content-register button:active {
  color: #91bdc8;
}

.nav-bar-container {
  width: 100%;
  height: 50px;
  position: sticky;
  background-color: #2f2f2f;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  gap: 45%;
}
.nav-bar-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  height: 30px;
  text-align: center;
  background-color: #2f2f2f;
  color: white;
  border-bottom: 2px solid #91bdc8;
  cursor: not-allowed;
  font-family: Georgia serif;
}
.nav-bar-container .nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 75%;
  gap: 15px;
}
.nav-bar-container .nav-buttons button {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 35px;
  font-family: Georgia serif;
  border-bottom: 5px solid #91bdc8;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-bar-container .nav-buttons button:hover {
  background-color: black;
  color: white;
  border-bottom: 5px solid white;
  scale: 1.1;
}
.nav-bar-container .nav-buttons button:active {
  color: #91bdc8;
}

.flats-container {
  width: 90%;
  height: 800px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: black;
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flats-container .add-flats {
  background: rgba(245, 255, 250, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 50%;
  height: 750px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.flats-container .add-flats .has-ac {
  color: black;
  font-size: 20px;
  height: 10px;
}
.flats-container .add-flats .has-ac-options {
  background-color: rgb(245, 255, 250);
  width: 20%;
  height: 5%;
  font-size: 20px;
  text-align: center;
  font-family: Georgia serif;
}
.flats-container .add-flats input {
  background-color: rgb(245, 255, 250);
  border: none;
  width: 70%;
  height: 5%;
  border-radius: 5px;
  text-align: center;
  color: black;
  cursor: pointer;
}
.flats-container .add-flats ::-moz-placeholder {
  color: black;
}
.flats-container .add-flats ::placeholder {
  color: black;
}
.flats-container .add-flats h1 {
  color: black;
  background-color: rgba(245, 255, 250, 0.6);
  width: 70%;
  border-radius: 10px;
  text-align: center;
  font-size: 45px;
  cursor: not-allowed;
  font-family: Georgia serif;
}
.flats-container .add-flats button {
  border: none;
  background-color: rgba(145, 189, 200, 0.6);
  color: white;
  border-radius: 15px;
  width: 35%;
  height: 40px;
  cursor: pointer;
  color: black;
  font-family: Georgia serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.flats-container .add-flats button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  scale: 1.2;
  filter: drop-shadow(0 0rem 0.75rem black);
}
.flats-container .add-flats button:active {
  color: #91bdc8;
}

.body-home-flats {
  background: rgb(210, 210, 210);
  background: linear-gradient(90deg, rgb(210, 210, 210) 0%, rgb(2, 106, 228) 66%);
}

.every-flat-container-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}
.every-flat-container-home .title-flats {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.every-flat-container-home .second-flat-container {
  border-radius: 15px;
  position: fixed;
  background-color: rgba(245, 255, 250, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: grid;
  grid-template-rows: 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  height: 60%;
  position: relative;
}
.every-flat-container-home .second-flat-container .render-flats {
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
  width: 75%;
  height: 90%;
  border-radius: 25px;
  place-self: center;
}
.every-flat-container-home .second-flat-container .render-flats img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.every-flat-container-home .second-flat-container .render-flats .render-flats-content {
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  cursor: pointer;
}
.every-flat-container-home .second-flat-container .render-flats .render-flats-content p {
  color: black;
  font-size: 20px;
  border-bottom: 1px solid black;
  font-family: Georgia serif;
}
.every-flat-container-home .second-flat-container .render-flats .render-buttons {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
.every-flat-container-home .second-flat-container .render-flats .render-buttons button {
  border: none;
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 70%;
  height: 35px;
  cursor: pointer;
  color: black;
  font-family: Georgia serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.every-flat-container-home .second-flat-container .render-flats .render-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  scale: 1.2;
  filter: drop-shadow(0 0rem 0.75rem black);
}
.every-flat-container-home .second-flat-container .render-flats .render-buttons button:active {
  color: #91bdc8;
}

.no-flats-messagee {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.filtre-options {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 50%;
  height: 400px;
  justify-content: space-evenly;
}
.filtre-options input {
  background-color: rgb(245, 255, 250);
  border: none;
  width: 70%;
  height: 10%;
  border-radius: 5px;
  text-align: center;
  color: black;
  cursor: pointer;
}
.filtre-options ::-moz-placeholder {
  color: black;
}
.filtre-options ::placeholder {
  color: black;
}
.filtre-options button {
  border: none;
  background-color: rgba(145, 189, 200, 0.8);
  color: white;
  border-radius: 15px;
  width: 35%;
  height: 40px;
  cursor: pointer;
  color: black;
  font-family: Georgia serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.filtre-options button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  scale: 1.2;
  filter: drop-shadow(0 0rem 0.75rem black);
}
.filtre-options button:active {
  color: #91bdc8;
}

.filtre-categori {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 50%;
  height: 400px;
  justify-content: space-evenly;
}
.filtre-categori button {
  border: none;
  background-color: rgba(145, 189, 200, 0.8);
  color: white;
  border-radius: 15px;
  width: 35%;
  height: 40px;
  cursor: pointer;
  color: black;
  font-family: Georgia serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.filtre-categori button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  scale: 1.2;
  filter: drop-shadow(0 0rem 0.75rem black);
}
.filtre-categori button:active {
  color: #91bdc8;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

@media only screen and (max-width: 1500px) {
  .landing-container .lading-log-reg {
    width: 60%;
  }
  .landing-container .lading-log-reg .landing-content h1 {
    font-size: 50px;
  }
  .landing-container .lading-log-reg .landing-content button {
    width: 40%;
    height: 40px;
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-login {
    width: 85%;
  }
  .landing-container .lading-log-reg .landing-content-login input {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-login ::-moz-placeholder {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-login ::placeholder {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-login h1 {
    color: black;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    cursor: not-allowed;
    font-family: Georgia serif;
  }
  .landing-container .lading-log-reg .landing-content-login button {
    height: 50px;
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-register {
    width: 85%;
  }
  .landing-container .lading-log-reg .landing-content-register input {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-register ::-moz-placeholder {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-register ::placeholder {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-register button {
    height: 50px;
    font-size: 20px;
  }
  .nav-bar-container {
    gap: 20%;
    height: 60px;
  }
  .nav-bar-container h1 {
    width: 20%;
    font-size: 22px;
  }
  .nav-bar-container .nav-buttons {
    width: 55%;
  }
  .nav-bar-container .nav-buttons button {
    font-size: 16px;
  }
  .flats-container {
    font-size: 20px;
    width: 95%;
    height: 850px;
  }
  .flats-container .add-flats {
    width: 80%;
    gap: 15px;
  }
  .flats-container .add-flats .has-ac {
    font-size: 23px;
    height: 13px;
  }
  .flats-container .add-flats .has-ac-options {
    width: 20%;
    height: 5%;
    font-size: 23px;
  }
  .flats-container .add-flats input {
    width: 70%;
    height: 8%;
    font-size: 20px;
  }
  .flats-container .add-flats ::-moz-placeholder {
    font-size: 20px;
  }
  .flats-container .add-flats ::placeholder {
    font-size: 20px;
  }
  .flats-container .add-flats button {
    width: 40%;
    height: 60px;
    font-size: 20px;
  }
  .flats-container .add-flats button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    scale: 1.2;
    filter: drop-shadow(0 0rem 0.75rem black);
  }
  .flats-container .add-flats button:active {
    color: #91bdc8;
  }
  .every-flat-container-home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
  }
  .every-flat-container-home .title-flats {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .every-flat-container-home .second-flat-container {
    width: 95%;
  }
  .every-flat-container-home .second-flat-container .render-flats {
    gap: 15px;
    width: 97%;
    height: 95%;
  }
  .every-flat-container-home .second-flat-container .render-flats .render-flats-content {
    width: 85%;
    height: 400px;
  }
  .every-flat-container-home .second-flat-container .render-flats .render-flats-content p {
    color: black;
    font-size: 25px;
    border-bottom: 1px solid black;
    font-family: Georgia serif;
  }
  .every-flat-container-home .second-flat-container .render-flats .render-buttons button {
    font-size: 20px;
    height: 45px;
  }
  .filtre-options {
    width: 60%;
    height: 500px;
  }
  .filtre-options input {
    font-size: 20px;
  }
  .filtre-options ::-moz-placeholder {
    color: black;
    font-size: 20px;
  }
  .filtre-options ::placeholder {
    color: black;
    font-size: 20px;
  }
  .filtre-options button {
    width: 60%;
    height: 60px;
    font-size: 20px;
  }
  .filtre-categori {
    width: 60%;
    height: 500px;
  }
  .filtre-categori button {
    width: 60%;
    height: 60px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .landing-container .lading-log-reg {
    width: 100%;
  }
  .landing-container .lading-log-reg .landing-content h1 {
    font-size: 70px;
  }
  .landing-container .lading-log-reg .landing-content button {
    width: 45%;
    height: 60px;
  }
  .landing-container .lading-log-reg .landing-content-login h1 {
    font-size: 60px;
  }
  .landing-container .lading-log-reg .landing-content-login input {
    height: 10%;
  }
  .landing-container .lading-log-reg .landing-content-register h1 {
    font-size: 60px;
  }
  .landing-container .lading-log-reg .landing-content-register input {
    height: 10%;
  }
  .landing-container .lading-log-reg .landing-content-register ::-moz-placeholder {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-register ::placeholder {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-register button {
    height: 80px;
    font-size: 20px;
  }
  .nav-bar-container {
    flex-direction: column;
    height: 350px;
    gap: 5%;
  }
  .nav-bar-container h1 {
    width: 45%;
    font-size: 22px;
  }
  .nav-bar-container .nav-buttons {
    flex-direction: column;
    width: 55%;
  }
  .nav-bar-container .nav-buttons button {
    height: 40px;
    font-size: 21px;
  }
  .flats-container {
    font-size: 20px;
    width: 100%;
    height: 100vh;
  }
  .flats-container .add-flats {
    width: 85%;
    height: 800px;
    gap: 10px;
  }
  .every-flat-container-home .second-flat-container {
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  .every-flat-container-home .second-flat-container .render-flats {
    width: 90%;
    height: 95%;
  }
  .filtre-options {
    top: 60%;
    width: 100%;
    height: 500px;
  }
  .filtre-options input {
    font-size: 20px;
  }
  .filtre-options ::-moz-placeholder {
    color: black;
    font-size: 20px;
  }
  .filtre-options ::placeholder {
    color: black;
    font-size: 20px;
  }
  .filtre-options button {
    width: 50%;
    height: 60px;
    font-size: 20px;
  }
  .filtre-categori {
    top: 60%;
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
  }
  .filtre-categori button {
    width: 60%;
    height: 60px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 705px) {
  .every-flat-container-home .second-flat-container {
    width: 95%;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .every-flat-container-home .second-flat-container .render-flats {
    width: 83%;
    height: 97%;
  }
  .every-flat-container-home .second-flat-container .render-flats .render-flats-content {
    width: 85%;
    height: 400px;
  }
  .every-flat-container-home .second-flat-container .render-flats .render-flats-content p {
    font-size: 30px;
  }
}
@media only screen and (max-height: 600px) {
  .landing-container .lading-log-reg .landing-content-register {
    width: 50%;
    height: 600px;
    gap: 20px;
  }
  .landing-container .lading-log-reg .landing-content-register h1 {
    font-size: 30px;
  }
  .landing-container .lading-log-reg .landing-content-register input {
    height: 6%;
  }
}
@media only screen and (max-width: 480px) {
  .landing-container .lading-log-reg {
    width: 100%;
  }
  .landing-container .lading-log-reg .landing-content {
    width: 90%;
    height: 650px;
  }
  .landing-container .lading-log-reg .landing-content h1 {
    font-size: 50px;
  }
  .landing-container .lading-log-reg .landing-content button {
    width: 70%;
    height: 50px;
  }
  .landing-container .lading-log-reg .landing-content-login {
    width: 90%;
    height: 650px;
  }
  .landing-container .lading-log-reg .landing-content-login h1 {
    font-size: 50px;
  }
  .landing-container .lading-log-reg .landing-content-login input {
    width: 90%;
    height: 8%;
  }
  .landing-container .lading-log-reg .landing-content-login button {
    width: 80%;
    height: 40px;
  }
  .landing-container .lading-log-reg .landing-content-register {
    width: 90%;
    height: 750px;
    gap: 40px;
  }
  .landing-container .lading-log-reg .landing-content-register h1 {
    font-size: 40px;
  }
  .landing-container .lading-log-reg .landing-content-register input {
    height: 5%;
    width: 90%;
  }
  .landing-container .lading-log-reg .landing-content-register ::-moz-placeholder {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-register ::placeholder {
    font-size: 20px;
  }
  .landing-container .lading-log-reg .landing-content-register button {
    width: 85%;
    height: 50px;
  }
  .nav-bar-container h1 {
    width: 70%;
    height: 50px;
  }
  .flats-container {
    font-size: 20px;
    width: 100%;
    height: 100vh;
  }
  .flats-container .add-flats {
    width: 100%;
    border-radius: 0px;
    height: 100vh;
    gap: 10px;
  }
  .flats-container .add-flats input {
    height: 50px;
    width: 80%;
  }
  .flats-container .add-flats button {
    width: 60%;
    height: 40px;
  }
  .every-flat-container-home {
    margin-top: 20px;
  }
  .every-flat-container-home .second-flat-container {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .every-flat-container-home .second-flat-container .render-flats {
    width: 95%;
    height: 100%;
  }
  .every-flat-container-home .second-flat-container .render-flats .render-flats-content {
    width: 85%;
    height: 250px;
  }
  .every-flat-container-home .second-flat-container .render-flats .render-flats-content p {
    font-size: 17px;
  }
  .every-flat-container-home .second-flat-container .render-flats .render-buttons button {
    width: 60%;
    height: 25px;
  }
}/*# sourceMappingURL=style.css.map */